body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background-color: #2D0051;
}
.header {
    margin: 0px;
}
.container {
    margin: 0px;   
}
.header-line {
    padding-top: 25px;
    display: flex;
    margin: 0px;
}
.nav {
    color: white;
    text-decoration: none;
    position: relative;
    top: -15px;
    object-position: center;
    vertical-align: text-bottom;
    font-weight: 700;
    font-size: 14px;
}
#calc_7lab {
    color: #e4c2ff;
}
a {
    color: #fff;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 10px;
    object-position: center;
    font-weight: 700;
    font-size: 18px;
}
a:hover:before {
    clip: rect(0, 190px, 190px, 0);
}
a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-content);
    display: inline-block;
    color: #e4c2ff;
    width: 100%;
    clip: rect(0, 0, 190px, 0);
    -webkit-transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
    transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
}
.elements {
    background-image: url(bg_1.jpg);
    height: 88vh;
    background-repeat: round;
    background-size: 30%;
    margin-bottom: -45px;
}
.calc-pic {
    position: absolute;
    top: 100px;
    left: 590px;
    z-index: -0.9;
}
h6 {
    font-family: 'Island Moments', cursive;
    font-size: 26px;
    color: #6600CC;
    position: absolute;
    top: 50px;
    left: 725px;
}
#out_screen {
    position: absolute;
    top: 150px;
    left: 630px;
    opacity: 70%;
}

.key_bracket, .key_clear_1, .key_clear_2, 
.key_operation, .key_digit, .key_result {
    cursor: pointer;
    color: #6600CC;
    width: 52px;
    height: 44px;
    position: absolute;
    z-index: 1;
}

#b_c_all {
    top: 265px;
    left: 629px;
}
#b_l {
    top: 265px;
    left: 701px;
}
#b_r {
    top: 265px;
    left: 773px;
}
#o_d {
    top: 265px;
    left: 845px;
}
#d_7 {
    top: 328px;
    left: 629px;
}
#d_8 {
    top: 328px;
    left: 701px;
}
#d_9 {
    top: 328px;
    left: 773px;
}
#o_m {
    top: 328px;
    left: 845px;
}
#d_4 {
    top: 391px;
    left: 629px;
}
#d_5 {
    top: 391px;
    left: 701px;
}
#d_6 {
    top: 391px;
    left: 773px;
}
#o_s {
    top: 391px;
    left: 845px;
}
#d_1 {
    top: 454px;
    left: 629px;
}
#d_2 {
    top: 454px;
    left: 701px;
}
#d_3 {
    top: 454px;
    left: 773px;
}
#d_c {
    top: 517px;
    left: 629px;
}
#d_0 {
    top: 517px;
    left: 701px;
}
#bt_r {
    top: 517px;
    left: 773px;
}
#o_a {
    width: 52px;
    height: 107px;
    top: 454px;
    left: 845px;
}
#b_c_one {
    width: 269px;
    height: 27px;
    position: absolute;
    top: 579px;
    left: 629px;
}


.footer {
    margin-top: 5px;
}
.down-line {
    height: 3vh;
    padding-top: 36px;
    display: flex;
    align-items: center;
    background-size: cover;
}
.bottom-items {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    bottom: 8px;
    vertical-align: middle;
}
.my-name {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.text-email {
    color: white;
    text-decoration: none;
    margin: 20px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 14px;
}
.email {
    color: white;
    text-decoration: none;
    margin: 0px 0px;
    font-weight: 700;
    font-size: 14px;
}
.text-phone {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 50px;
    object-position: center;
    font-weight: 700;
    font-size: 14px;
}

.number-phone {
    color: white;
    text-decoration: none;
    margin: 0px 0px;
    object-position: center;
    font-weight: 700;
    font-size: 14px;
}
.foot-date {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    right: -410px;
    
    object-position: center;
}



